@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";
@theme {
  --color-desaturated-red: hsl(360 36% 70%);
  --color-soft-red: hsl(0, 93%, 68%);
  --color-dark-grayish-red: hsl(0, 6%, 24%);
  --color-very-light-pink: hsl(0, 80%, 86%);
  --color-light-pink: hsl(0, 74%, 74%);
}

@layer base {
  body {
    font-family: "Josefin Sans", serif;
    height: 100vh;
    display: grid;
    place-items: center;
  }
}
